.videoCard{
    width:295px;
    margin-bottom: 40px;
    position: relative;
    margin-right: 2px;
    margin-left: 18px;
}
.videoCard.fullWidth{
    margin-right: 12px;
    margin-left: 28px;
}
.videoImg{
    height:162px;
    width:295px;
    margin-bottom: 0;
}
.videoData{
    display: flex;
    padding-top: 10px;
}
.channelDetails{
    margin-left: 10px;
}
.channelDetails p{
    margin-top: -18px;
    font-size: 14px;
    color:rgb(122,122,122);
    font-weight: 550;
    margin-bottom: 15px;
}
.channelDetails h5{
    margin-top: -5px;
    color:rgb(26,26,26);
}
.duration{
    background-color: rgb(31,31,31);
    width:40px;
    height: 18px;
    text-align: center;
    color: white;
    border-radius: 3px;
    position: absolute;
    top:135px;
    right: 10px;
    font-size: 12px;
    font-weight: 600;
    opacity:0.9;

}
.watchLater{
    position: absolute;
    top:10px;
    background-color: black;
    color:white!important;
    right:10px;
    font-size: 20px!important;
    padding:4px 4px;
    opacity:0.8;
    align-items: center;
    border-radius: 3px;
    display: none;
}
.playlistAdd{
    position:absolute;
    top:50px;
    background-color: black;
    color:white!important;
    right:10px;
    font-size: 20px!important;
    padding:4px 4px;
    opacity:0.8;
    align-items: center;
    border-radius: 3px;
    display: none;
}
.videoIcon{
    font-size: 20px!important;
}
.videoCard:hover .playlistAdd{
    display: flex;
}
.videoCard:hover .watchLater{
    display: flex;
}
.moreIcon{
    color:rgb(131,131,131)!important;
}
.moreIcon:hover{
    color:rgb(83,83,83)!important;
    cursor: pointer;
}
.c_name:hover{
    color:rgb(59,59,59);
    cursor: pointer;
}