.videoTile{
    display: flex;
    margin-bottom: 20px;
}
.image_div{
    height:200px;
    width:360px;
    position: relative;
    margin-right: 20px; 
    cursor: pointer;
}
.thumbnail{
    height:200px;
    width:360px;
    object-fit: cover;
    
}
.title_div{
    font-size: 18px;
    line-height: 26px;
    color:#030303;
    cursor: pointer;
    display: flex;
    align-items:center;
}
.vertBtn{
    margin-left: 208px!important;
    color:rgb(175, 175, 175)!important;
    display: none!important;
}
.vertBtn:hover{
    color: rgb(56, 56, 56)!important;
}
.viewss{
    margin-top: -1px;
    font-size: 12px;
    color:#606060;
}
.data{
   display: flex;
   align-items: center;
   font-size: 14px;
   color: rgb(94, 94, 94);
   cursor: pointer;
}
.data img{
    height:30px;
    width:30px;
    border-radius: 15px;
    margin-right: 10px;
}
.desc{
    font-size:14px;
    color: rgb(94, 94, 94);
}
.durationn{
    position:absolute;
    right:3px;
    top:178px;
    background-color: rgb(31,31,31);
    width:40px;
    height: 18px;
    text-align: center;
    color: white;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    opacity:0.9;
}
.watchLaterr{
    position: absolute;
    top:5px;
    background-color: black;
    color:white!important;
    right:5px;
    font-size: 20px!important;
    padding:4px 4px;
    opacity:0.8;
    align-items: center;
    border-radius: 3px;
    display: none;
    z-index: 20;
}
.playlistAddd{
    position:absolute;
    top:40px;
    background-color: black;
    color:white!important;
    right:5px;
    font-size: 20px!important;
    padding:4px 4px;
    opacity:0.8;
    align-items: center;
    border-radius: 3px;
    display:none;
    z-index: 20;
}
.videoTile:hover .playlistAddd{
    display: flex;
}
.videoTile:hover .watchLaterr{
    display: flex;
}
.videoTile:hover .vertBtn{
    display: block!important;
}