.searchPage{
    margin-left: 16%;
    background-color: rgb(245, 245, 245);
    padding:10px 80px;
}
.searchPage.full_width{
    margin-left: 5%;
    padding:10px 100px;
}
.filter{
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    margin-bottom: 30px;
}
.filterIcon{
    margin-right: 5px;
    color: #606060!important;
}
.filterHeading{
    font-size: 14px;
    color: #606060!important;
    font-weight: 700;
}
h4{
    color: rgb(37, 37, 37);
    font-weight: 500;
}